@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,700&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

/* #2CBBBB
#27A0A0 */

.header{
  background: #4D4D4D;
  color:#797979;
}

.header h1{
  color:	#f9f9f9;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: auto;
  text-align: start;
  border: 1px solid black;
  padding: 1rem;
}

.form-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.form-select {
  margin-left: 1rem;
  max-width: 60%;
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

.question-list{
  max-width: 80vw;
  margin: auto;
}

.submit{
  background-color:#2CBBBB;
  border: none;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
}

.submit:hover{
  background-color:#27A0A0;
  cursor: pointer;
  
}

.answer{
  background-color:#2CBBBB;
  border: none;
  margin: 0 0 0.5rem 0.5rem;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
}

.answer:hover{
  background-color:#27A0A0;
  cursor: pointer;
  
}

.replay{
  background-color:#2CBBBB;
  border: none;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
}

.replay:hover{
  background-color:#27A0A0;
  cursor: pointer;
  
}

/* loading animation */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}