@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,700&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

/* #2CBBBB
#27A0A0 */

.header{
  background: #4D4D4D;
  color:#797979;
  border-bottom: px solid black;
}

.header h1{
  color:	#f9f9f9;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: auto;
  text-align: start;
  border: 1px solid black;
  padding: 1rem;
}

.form-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.form-select {
  margin-left: 1rem;
  max-width: 60%;
  background-color: white;
  font-family: 'Rubik', sans-serif;
}

.question-list{
  max-width: 80vw;
  margin: 0 auto 1rem auto;

}

.submit{
  background-color:#2CBBBB;
  border: none;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 1px 2px #4D4D4D;
}

.submit:hover{
  background-color:#27A0A0;
  cursor: pointer;
  
}

.answer{
  background-color: white;
  border: solid 2px #2CBBBB;
  margin: 0 0 0.5rem 0.5rem;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
  letter-spacing: 1px;
  transition: background-color 300ms;
  box-shadow: 1px 2px #27A0A0;
}

.answer:hover{
  background-color:#2CBBBB;
  cursor: pointer;
}

.replay{
  background-color:#2CBBBB;
  border: none;
  font-family: 'Rubik', sans-serif;
  padding:0.5rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 300ms;
  box-shadow: 1px 2px #4D4D4D;
}

.replay:hover{
  background-color:#27A0A0;
  cursor: pointer;
  
}

/* loading animation */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}


.question{
  min-height: 20vh;
  padding-bottom: 1rem;
  border: 1px solid #4D4D4D;
  margin: 1rem 0 1rem 0;
}

.question-title{
  padding: 0 0.5rem 0 0.5rem;
}

.answer-list{
  padding: 0 0.5rem 0 0.5rem;
}

.correct{
  padding: 0.5rem;
  background-color: rgba(0, 230, 64, 0.5);
  width: 80%;
  margin: 0 auto 0 auto;;
}

.incorrect{
  padding: 0.5rem;
  background-color: rgba(240, 52, 52, 0.5);
  width: 80%;
  margin: 0 auto 0 auto;
}

.hr {
  border: 0.1rem solid #4D4D4D;
  margin-bottom: 2rem;
}

.score{
  margin-bottom: 10vh;
}

.score-total{
  font-weight: bold;
  font-size: 1.5rem;
}

